.container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px 10px;
    font-size: 14px;
    height: 100%;
    color: #000;

    &.active {
        border-bottom: 2px solid #f57c00;
    }
}