.container {
   .title {
      font-size: 18px;
      font-family: 'Roboto-Medium';
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      padding: 8px 11px;
      user-select: none;
   }
   .search {
      margin: 15px 0px;
   }
   input {
      width: 100%;
      border: 1px solid #dfdfdf;
      padding: 3px 10px;
      border-radius: 4px;
   }
}
