.range {
	display: block;
	font-family: 'Roboto-Medium';
	text-align: center;
	padding: 15px 0;
	p {
		font-size: 14px;
		font-family: 'Roboto-Regular';
		text-align: center;
	}
}

.tools {
	display: flex;
	width: 100%;
}