.container {
    display: flex;
    align-items: center;
    .slider {
        max-width: 200px;
    }

    label {
        &.first {
            padding: 0px 10px;
            span {
                color: #f57c00;
            }
        }
        &.second {
            span {
                color: #388e3c;
            }
        }
        input {
            padding-left: 5px;
            margin-left: 10px;
            width: 40px;
        }
    }
}