.container {
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
   margin: 20px 0px 50px 0px;
   .body {
      padding: 19px 33px;
      display: flex;
      justify-content: space-around;
      > div {
         width: 100%;
         h3 {
            display: inline;
         }
         a {
            float: right;
         }
         input, textarea {
            width: 100%;
         }
         .buttons {
            display: flex;
            justify-content: flex-end;
            margin: 15px 0px;
            button {
                  &:first-child {
                        margin-right: 15px;
                  }
            }
         }
      }

      .image {
            display: flex;
            padding: 50px;
            min-height: 400px;
            justify-content: center;
            img {
                  display: flex;
                  width: 350px;
                  align-self: center;
            }
      }
      .imagesList {
            img {
                  cursor: pointer;
                  height: 100px;
                  border: 1pt solid #eeeeee;
                  padding: 10px;
                  margin: 10px;
            }
      }
   }
}