.container {
    max-width: 500px;
}
.switch {
    display: flex;
    justify-content: center;
}
.footer {
   display: flex;
   justify-content: flex-end;
   >button {
       &:first-child {
           margin-right: 20px;
       }
   }
}